- page_title @project.name_with_namespace, "Projects"
%h3.page-title
  Project: #{@project.name_with_namespace}
  = link_to edit_project_path(@project), class: "btn pull-right" do
    %i.fa.fa-pencil-square-o
    Edit
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Project info:
      %ul.well-list
        %li
          %span.light Name:
          %strong
            = link_to @project.name, project_path(@project)
        %li
          %span.light Namespace:
          %strong
            - if @project.namespace
              = link_to @project.namespace.human_name, [:admin, @project.group || @project.owner]
            - else
              Global
        %li
          %span.light Owned by:
          %strong
            - if @project.owner
              = link_to @project.owner_name, [:admin, @project.owner]
            - else
              (deleted)

        %li
          %span.light Created by:
          %strong
            = @project.creator.try(:name) || '(deleted)'

        %li
          %span.light Created on:
          %strong
            = @project.created_at.to_s(:medium)

        %li
          %span.light http:
          %strong
            = link_to @project.http_url_to_repo, project_path(@project)
        %li
          %span.light ssh:
          %strong
            = link_to @project.ssh_url_to_repo, project_path(@project)
        - if @project.repository.exists?
          %li
            %span.light fs:
            %strong
              = @repository.path_to_repo

          %li
            %span.light Size
            %strong
              = repository_size(@project)

          %li
            %span.light last commit:
            %strong
              = last_commit(@project)
        - else
          %li
            %span.light repository:
            %strong.cred
              does not exist

        - if @project.archived?
          %li
            %span.light archived:
            %strong repository is read-only

        %li
          %span.light access:
          %strong
            %span{ class: visibility_level_color(@project.visibility_level) }
              = visibility_level_icon(@project.visibility_level)
              = visibility_level_label(@project.visibility_level)

    .panel.panel-default
      .panel-heading
        Transfer project
      .panel-body
        = form_for @project, url: transfer_admin_namespace_project_path(@project.namespace, @project), method: :put, html: { class: 'form-horizontal' } do |f|
          .form-group
            = f.label :new_namespace_id, "Namespace", class: 'control-label'
            .col-sm-10
              = namespace_select_tag :new_namespace_id, selected: params[:namespace_id], class: 'input-large'

          .form-group
            .col-sm-offset-2.col-sm-10
              = f.submit 'Transfer', class: 'btn btn-primary'

  .col-md-6
    - if @group
      .panel.panel-default
        .panel-heading
          %strong #{@group.name}
          group members (#{@group.group_members.count})
          .pull-right
            = link_to admin_group_path(@group), class: 'btn btn-xs' do
              %i.fa.fa-pencil-square-o
        %ul.well-list
          - @group_members.each do |member|
            = render 'groups/group_members/group_member', member: member, show_controls: false
        .panel-footer
          = paginate @group_members, param_name: 'group_members_page', theme: 'gitlab'

    .panel.panel-default
      .panel-heading
        Project members
        %small
          (#{@project.users.count})
        .pull-right
          = link_to namespace_project_project_members_path(@project.namespace, @project), class: "btn btn-xs" do
            %i.fa.fa-pencil-square-o
            Manage Access
      %ul.well-list.project_members
        - @project_members.each do |project_member|
          - user = project_member.user
          %li.project_member
            .list-item-name
              - if user
                %strong
                  = link_to user.name, admin_user_path(user)
              - else
                %strong
                  = project_member.invite_email
                (invited)
            .pull-right
              - if project_member.owner?
                %span.light Owner
              - else
                %span.light= project_member.human_access
                = link_to namespace_project_project_member_path(@project.namespace, @project, project_member), data: { confirm: remove_from_project_team_message(@project, project_member)}, method: :delete, remote: true, class: "btn btn-sm btn-remove" do
                  %i.fa.fa-times
      .panel-footer
        = paginate @project_members, param_name: 'project_members_page', theme: 'gitlab'
